.TruEdit-app .page-container {
  width: 100%; }
  .TruEdit-app .page-container .page {
    transition: opacity 0.2s ease-in; }
    .TruEdit-app .page-container .page.page-hide {
      display: none;
      opacity: 0; }
      .TruEdit-app .page-container .page.page-hide.page-show {
        display: block;
        opacity: 1; }
