.TruEdit-app {
    .notice {
        transition: all 0.25s ease-out;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0 10px;

        &.notice-show {
            visibility: visible;
            opacity: 1;
            max-height: 100px;
            margin: 0 0 1rem 0;
        }

        p {
            margin: 0.5rem 0;
            font-weight: bold;
        }

        .dashicons {
            padding-right: 10px;

            &.dashicon-close {
                float: right;
            }
        }
    }
}
