.TruEdit-app .notice {
  transition: all 0.25s ease-out;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0 10px; }
  .TruEdit-app .notice.notice-show {
    visibility: visible;
    opacity: 1;
    max-height: 100px;
    margin: 0 0 1rem 0; }
  .TruEdit-app .notice p {
    margin: 0.5rem 0;
    font-weight: bold; }
  .TruEdit-app .notice .dashicons {
    padding-right: 10px; }
    .TruEdit-app .notice .dashicons.dashicon-close {
      float: right; }
